@import '../styles/vars.css';

.small {
  fill: var(--svg-color);
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.logo {
  margin: 50px;
  width: 80%;
}

.logo-shape {
  fill: var(--logo-shape);
  fill-rule: evenodd;
  stroke: none;
}

.logo-text {
  fill: var(--logo-text);
  fill-rule: nonzero;
  stroke: none;
}

.delete {
  fill: var(--main-color);
  height: 15px;
  width: 15px;
}

.delete:hover {
  fill: var(--main-color);
  transform: scale(1.1, 1.1);
}
