.root {
  align-items: space-between;
  display: flex;
  height: 50px;
  margin-top: 20px;
  padding: 0;
  width: 90%;
}

.form {
  align-items: space-between;
  display: flex;
  height: 50px;
  padding: 0;
  width: 100%;
}

.input {
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
  outline: none;
  padding: 0 0 0 20px;
  resize: none;
  width: 100%;
}

.btn {
  background-color: #333;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 16px;
  height: 50px;
  outline: none;
  resize: none;
  transition: 0.1s ease-in;
  width: 15%;
}

.btn:hover {
  transform: scale(1.15, 1.15);
}
