@import '../shared/styles/vars.css';

.root {
  align-items: center;
  color: #888;
  display: flex;
  font-size: 12px;
}

.root p {
  margin-top: 4px;
}

.container {
  background: none;
  border: none;
  margin-right: 0;
  outline: none;
  transition: 0.1s ease-in;
  width: 45px;
}

.counter {
  margin-left: 5px;
}

.usersList {
  display: flex;
  flex-direction: column;
}

.userLink {
  cursor: pointer;
  white-space: nowrap;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.678);
}

.customModal {
  background: var(--BACKGROUND);
  width: 400px;
}

.heart svg {
  color: #888;
  font-size: 26px;
  transition: 0.1s ease-out;
}

.heart svg:hover {
  color: var(--text-color);
}
