@import '../shared/styles/vars.css';

.root {
  align-items: center;
  color: #888;
  display: flex;
  font-size: 14px;
}

.root p {
  margin-top: 4px;
}

.container {
  background: none;
  border: none;
  height: 28px;
  margin-right: 0;
  outline: none;
  transition: 0.1s ease-in;
  width: 45px;
}

/* .container:hover {
  transform: scale(1.1, 1.1);
} */

.heart svg {
  color: #888;
  font-size: 30px;
  transition: 0.1s ease-out;
}

.heart svg:hover {
  color: var(--text-color);
}
