:root {
  --BACKGROUND: #f3f3f3;
  --button-primary: #2d789c;
  --button-danger: #bf2222;
  --button-disabled: rgb(197, 197, 197);
  --BLUE: #007abb;
  --RED: #d20000;
  --WHITE: white;
  --DARK: #444;
  --LIGHT-GREY: #4f5358;
  --disabled: rgb(167, 166, 166);
  --main-color: #d8342e;
  --main-dark: #bfbfbf;
  --main-dark-op: #565656;
  --main-white: #fff;
  --light-items: #fff;
  --body-background: var(--LIGHT-GREY);
  --header-background: var(--LIGHT-GREY);
  --content-background: var(--LIGHT-GREY);
  --main-comment-background: #fff;
  --border-post: var(--RED);
  --logo-shape: var(--RED);
  --logo-text: black;
  --logo-background: var(--RED);
  --svg-color: var(--RED);
  --post-background: #3a3a39;
  --post-background-hover: #333332;
  --light-text: #fff;
  --shadow: 1px 1px 3px #000;
  --small-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --text-color: #464646;
}
