.root {
  margin: 50px auto;
  width: 80%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  background: none;
  border: none;
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 20px;
  height: 30px;
  line-height: 10px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  text-align: center;
  width: 100%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
}

.buttons {
  display: flex;
  height: 25px;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.mainButton {
  background: none;
  border: 2px solid white;
  color: white;
  line-height: 0;
  padding: 18px;
  transition: 0.1s ease-in-out;
}

.mainButton:hover {
  background: var(--main-color);
  transform: scale(1.05, 1.05);
}

.secondButton {
  background: none;
  border: none;
  color: var(--text-color);
  line-height: 0;
  padding: 18px;
  transition: 0.1s ease-in-out;
}

.secondButton:hover {
  border-bottom: 2px solid white;
  transform: scale(1.05, 1.05);
}

.button {
  cursor: pointer;
  margin: 20px 10px 0 10px;
}

.button svg {
  color: var(--button-primary);
  font-size: 50px;
  transition: 0.1s ease-out;
}

.button svg:hover {
  filter: brightness(110%);
  transform: scale(1.05, 1.05);
}

.customOverlay {
  background: rgba(0, 0, 0, 0.678);
}

.customModal {
  background: var(--BACKGROUND);
  width: 400px;
}

.icon svg {
  color: #b2b2b2;
  font-size: 20px;
  margin-right: 10px;
}

.row {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.userInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.username {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0 30px 0 10px;
}

.or {
  display: flex;
}

.social {
  align-items: center;
  background: #eee;
  border: 2px solid #e1e0e0;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 20px 0;
  width: 100%;
}

.social div {
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
  .username {
    margin: 0 10px 0 10px;
  }
}
