.root {
  align-items: center;
  display: flex;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.container {
  align-items: center;
  display: flex;
  margin: auto;
}

.container h1 {
  font-size: 6vh;
  text-align: unset;
  white-space: nowrap;
}
