.cssload-container {
  height: 40px;
  margin-left: 20px;
  text-align: center;
  width: 100%;
}

.cssload-speeding-wheel {
  -o-animation: cssload-spin 575ms infinite linear;
  animation: cssload-spin 575ms infinite linear;
  -ms-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear;
  border: 5px solid rgb(255, 255, 255);
  border-left-color: transparent;
  border-radius: 50%;
  border-right-color: transparent;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
