@import '../shared/styles/vars.css';

.container {
  background-color: var(--main-background);
  height: 100vh;
  position: fixed;
  width: 300px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.link {
  background: white;
  background-color: var(--main-background);
  color: white;
  height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.logo {
  background: svg-load('./logo.svg');
  margin: 50px;
  width: 80%;
}
