@import '../styles/vars.css';

.container {
  color: grey;
}

.btn {
  background: none;
  border: none;
  color: grey;
  font-size: 14px;
  height: 50px;
  outline: none;
  resize: none;
  transition: 0.1s ease-in;
  width: 15%;
}

.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.05, 1.05);
}
