@import '../styles/vars.css';

.container {
  color: grey;
  font-size: 10px;
}

.btn {
  background: none;
  border: none;
  color: grey;
  font-size: 10px;
}

.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.05, 1.05);
}
