@import '../styles/vars.css';

.deleteButton {
  background: none;
  border: none;
  height: 20px;
  margin-left: 20px;
  outline: none;
  padding: 0;
  position: absolute;
  right: -9px;
  top: -8px;
  width: 20px;
}
