@import '../styles/vars.css';

.root {
  margin: 10px;
  padding: 10px;
}

.post {
  animation: slide-up 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: var(--light-text);
  border-left: 15px solid var(--main-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin-bottom: 50px;
  padding: 10px 10px 50px 20px;
  position: relative;
}

.title {
  margin: 6px 0 12px 0;
}

.time {
  color: rgb(172, 172, 172);
  font-size: 11px;
  height: 10px;
  left: 4px;
  line-height: 1px;
  position: absolute;
  top: -10px;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
