@import '../styles/vars.css';

.root {
  background-color: var(--post-background);
  border-left: 5px solid var(--border-post);
  color: var(--post-text-color);
  margin: 10px;
  padding: 10px;
}

.root:hover {
  background-color: var(--post-background-hover);
}
