@import '../styles/vars.css';

.root {
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  padding: 50px;
  padding-bottom: 5px;
}

.top {
  align-items: baseline;
  display: flex;
}

.post {
  padding-bottom: 10px;
  position: relative;
}

.post img {
  max-height: 50%;
  max-width: 50%;
}

.title {
  margin: 30px 20px 5px 0;
}

.buttons {
  align-items: start;
  display: flex;
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

iframe {
  height: 480px;
  margin: 0 auto;
  width: 854px;
}

.tags {
  margin-bottom: 20px;
}

.commentTogle svg {
  color: #888;
  font-size: 30px;
  margin-right: 10px;
  transition: 0.1s ease-out;
}

.commentTogle svg:hover {
  color: var(--text-color);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1024px) {
  .root {
    background: none;
    border-bottom: 1px solid #888;
    border-radius: 0;
    box-shadow: none;
    margin: 20px;
    padding: 0;
    padding-bottom: 5px;
  }

  .post img {
    max-height: 100%;
    max-width: 100%;
  }
}
