@import './components/shared/styles/vars.css';

body {
  background-attachment: fixed;
  background-color: var(--BACKGROUND);
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow: scroll;
  padding: 0;
}

/* title of post */
h1 {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 900;
  word-wrap: break-word;
}

/* title inside post */
h2 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 900;
  word-wrap: break-word;
}

/* second title inside post */
h3 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 900;
  word-wrap: break-wor;
}

/* comment author */
h5 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

p,
li {
  font-size: 16px;
  margin: 0 0 15px 0;
  word-wrap: break-word;
}

.App {
  box-shadow: 0 0 100px black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 22px;
  }

  p,
  li {
    font-size: 14px;
  }
}
