@import './components/shared/styles/vars.css';

body {
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAHUlEQVQYV2M8c+bMfwYkoKioCOfdv3+fgXEQKAAAhfcf9V1Eh18AAAAASUVORK5CYII=); */

  /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyG_0RvjrF-7ZglOVfVpx54BBj26Lbl8Gs7yodf2CXy9nKJ8co'); */
  color: var(--text-color);
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow: scroll;
  padding: 0;
}

.App {
  background-color: var(--content-background);
  box-shadow: 0 0 80px;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
}

.content {
  margin-left: 300px;
  padding-top: 50px;
  width: 100%;
}
