.root {
  background-color: #444;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 91vmin;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 25px;
  margin-bottom: 10px;
}

.txt {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  height: 25px;
}

.mainButton {
  align-self: right;
  background: none;
  border: 2px solid white;
  color: white;
  line-height: 0;
  margin: 25px auto;
  padding: 18px;
  transition: 0.1s ease-in-out;
  width: 200px;
}

.mainButton:hover {
  background: var(--main-color);
  border: 2px solid var(--main-color);
  text-shadow: var(--small-shadow);
  transform: scale(1.05, 1.05);
}
