.root {
  padding-top: 0;
}

.loading {
  display: block;
}

.loaded {
  display: none;
}

.pageTitle {
  font-size: 70px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.content {
  background-color: #444;
  padding-top: 100px;
}
